@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Fonts */
h1 {
  @apply text-3xl md:text-4xl font-bold text-[var(--foreground)] leading-snug m-0 mb-4;
}

p {
  @apply text-lg md:text-xl font-normal text-[var(--foreground)] leading-snug m-0 mb-4;
}

.wp-responsive-image {
  @apply w-full h-auto;
}
